$primary: #009688;
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/helpers.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/button.sass';
